<h1>Edit a book!</h1>

<form action="/books/<%= books.id" method="post">

  <label>Author</label>
  <input type="text" name="author"/>
  <label>Title</label>
  <input type="text" name="title"/>
  <label>Snippet</label>
  <input type="text" name="snippet"/>
  <input type="submit"/>

</form>
