<form action="/post" method="POST">
<p>Post name: <input type="text" name="name"></p>
<textarea name="content" value="Content"></textarea></p>
<input id="submit" type="submit" value="submit">
</form>
