<form action='/posts' method="POST">
  <lable for='name'>Name</lable>
  <input  type='text' name='name'/>
  <lable for='content'>Content</lable>
  <input type='text' name='content'/>
  <input type='submit' id='submit' value='submit'/>
</form>
