<h3><%= @post.name%><br></h3>
<h3><%= @post.content%></h3>
<p>this is even better than the last</p>
<form method="post" action="/posts/<%=@post.id%>/delete">
<input id="hidden" type="hidden" name="_method" value="delete"/>
<input type="submit" value="delete">
</form>